*{
    font-family: arial;
}

body{
    margin: 0;
    padding: 0;
}

.container{
    background-color:#eff0f4 ;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}
.imglogo{
    width: 300px;
    height: 100px;

}

nav ul,
nav li{
    display: flex;
    list-style: none;
}

nav a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #000;
}
nav a:hover{
    background-color: #999;
    color: #fff;
    border-radius: 50px;
}
nav .order{
    margin-left: 10px;
    background-color: #e76f33;
    color: #fff;
    border-radius: 50px;

}
.order:hover a:hover{
    background-color: #e76f33;
    border-radius: 50px;
}
.menuMobile{
    display: none;
}
.mm_line{
    height: 3px;
    background-color: #000;

}
.widget{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-section{
    background-color:#eff0f4 ;
    margin-top: 0;
    display: flex;
    justify-content: center;
}
h1{
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding-top: 30px;
    font-size: 40px;
    text-shadow: 5px 4px #999;
}
p{
    padding: 30px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    text-align: justify;
}
.imgage-center{

    height: 500px;

}
.container-section2{

    margin-top: 0;
    display: flex;
    justify-content: center;
}
.widget1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.descricao{
    padding: 30px;
    margin: 15px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-align: justify;
}
iframe{
    margin-bottom: 15px;
}
.container-footer{
    background-color: #999;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-copy{
    font-weight: bolder;
}

.footer-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: 15px;
}
#link:hover{
    opacity: 0.6;
}

.footer-image{
    width: 100px;
    height: 60px;
}
.footer-image2{
    width: 80px;
    height: 60px;
}
.footer-image3{
    width: 90px;
    height: 100px;
    display: flex;
    align-items: center;
}
@media(max-width:1085px){
 
    .imglogo{
        width: 200px;
        height: 100px;


    }
}
@media(max-width:1023px){
    .container{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    nav ul{
        flex-direction: column;
        padding-left: 0;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #eff0f4;
    }
    .menuMobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50px;
        height: 50px;
    }
}
@media(max-width:698px){
    h1{
        font-size: 25px;
        text-shadow: 3px 2px #999;
    }
    p{
        font-size: 20px;
    }
    .descricao{
        font-size: 20px;
    }
    iframe{
        width: 300px;
        height: 250px;
    }
}
@media(max-width:425px){
    .imglogo{
        width: 150px;
        height: 50px;
        display: flex;

    }
    .menuMobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 30px;
    }
    h1{
        font-size: 20px;
        text-shadow: 3px 2px #999;
    }
    p{
        font-size: 20px;
    }
    .descricao{
        font-size: 20px;
    }
    .image-center{
        width: 300px;
        height: 200px;
    }

    .footer-copy{
        font-weight: bolder;
        font-size: 12px;
    }
}

@media(max-width:320px){
    h1{
        font-size: 15px;
        text-shadow: 1px 1px #999;
    }
    p{
        font-size: 10px;
    }
    .descricao{
        font-size: 10px;
    }
}