*{
    font-family: arial;
}
body{
    margin: 0;
    padding: 0;
}

.container{
    background-color:#eff0f4 ;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-bottom: 10px; */
    border-bottom: 1px solid #000;
}
.container-section{
    background-color:#eff0f4 ;
    height: 800px;
    margin-top: 0;
    display: flex;
    justify-content: center;
}
.container-section2{
    height: 700px;
    margin-top: 0;
    display: flex;
    justify-content: center;
}
h1{
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding-top: 30px;
    font-size: 40px;
    text-shadow: 5px 4px #999;
}
p{
    padding: 30px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    text-align: center;
}
.descricao{
    padding: 30px;
    margin: 15px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-align: center;
}
.widget{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img1{

    height: 500px;

}
.imglogo{
    width: 300px;
    height: 100px;
}
.menu{
    display: flex;
    align-items: center;
}

nav ul,
nav li{
    display: flex;
    list-style: none;
}

nav a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #000;
}
nav a:hover{
    background-color: #999;
    color: #fff;
    border-radius: 50px;
}
nav .order{
    margin-left: 10px;
    background-color: #e76f33;
    color: #fff;
    border-radius: 50px;

}
.order:hover a:hover{
    background-color: #e76f33;
    border-radius: 50px;
}
.container-footer{
    background-color: #999;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-copy{
    font-weight: bolder;
}

.footer-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: 15px;
}
#link:hover{
    opacity: 0.6;
}

.footer-image{
    width: 100px;
    height: 60px;
}
.footer-image2{
    width: 80px;
    height: 60px;
}
.footer-image3{
    width: 90px;
    height: 100px;
    display: flex;
    align-items: center;
}
.menuMobile{
    display: none;
}
.mm_line{
    height: 3px;
    background-color: #000;

}

@media(max-width:995px){
    /* img{
        width: 250px;
        height: 50px;
    } */
    .container{
        justify-content: space-between;
        margin: 0;
    }
    nav ul{
        flex-direction: column;
        padding-left: 0;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #eff0f4;
    }
    .menuMobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50px;
        height: 50px;
        margin-right: 10px;

    }
}
@media(max-width:950px){

    .imglogo{
        padding-left: 100px;
        padding-right: 100px;
        width: 300px;
        height: 100px;
    }
}
@media(max-width:700px){
    h1{
        font-size: 35px;
    }
    p{
        font-size: 20px;
    }

}
@media(max-width:611px){
    h1{
        font-size: 27px;
    }
    p{
        font-size: 17px;
    }
    .descricao{
        font-size: 17px;
    }
}
